.botao-comprar {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 20px;
  background-color: #F3E396;
  border: none;
  border-radius: 14px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease;
  color: black;
}

.botao-comprar:hover {
  background-color: #e8d472;
  transform: scale(1.03);
}

.botao-comprar span {
  font-size: 20px;
  color: black;
}

@media (max-width: 1024px) {
  .botao-comprar {
    height: 36px;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 12px;
    width: 100%;
    justify-content: center;
  }
  .botao-comprar span {
    font-size: 16px;
  }
}

@media (max-width: 780px) {
  .botao-comprar {
    height: 34px;
    padding: 7px 10px;
    font-size: 16px;
    letter-spacing: 1.5px;
  }
  .botao-comprar span {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .botao-comprar {
    height: 32px;
    padding: 6px 10px;
    font-size: 15px;
    border-radius: 10px;
  }
  .botao-comprar span {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .botao-comprar {
    height: 14px;
    padding: 5px 8px;
    font-size: 13px;
    letter-spacing: 1px;
  }
  .botao-comprar span {
    font-size: 12px;
  }
}