body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #fff;
}
#root{
   width: 100%;
   margin: 0;
<<<<<<< HEAD
   padding: 0;
}
=======
   overflow-x: hidden;
 }
>>>>>>> db68d87dce6acd11d1750db630425cfff758e8ed
